<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        table {
            border: none;
            border-spacing: 0;
            text-align: center;
            width: 700px;

        }

        thead {
            background: #f0f0f0;
            border: none;
            border-spacing: 0;
        }

        td,
        tr {
            border: none;
            border-spacing: 0;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        thead>tr {
            height: 50px;
        }
    </style>

</head>

<body>
    <div>
        <h2>1. API 기본 정보</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">메서드</th>
                    <th scope="col">요청 URL</th>
                    <th scope="col">출력포맷</th>
                    <th scope="col">설명</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>POST</td>
                    <td>https://jaeho.dev/api/create/</td>
                    <td>JSON</td>
                    <td>데이터 삽입</td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>https://jaeho.dev/api/search/{SerialNumber}/{from}/{size}</td>
                    <td>JSON</td>
                    <td>데이터 조회 </td>
                </tr>
                <tr>
                    <td>GET</td>
                    <td>https://jaeho.dev/api/period/{SerialNumber}/{start_date}/{end_date}</td>
                    <td>JSON</td>
                    <td>기간별 데이터 조회 </td>
                </tr>
            </tbody>
        </table>
    </div>
    </br></br></br>
    <div>
        <h2>2. 요청 변수</h2>
        </br>
        <h4>2-1. 데이터 삽입</h5>
            <table>
                <thead>
                    <tr>
                        <th scope="col">요청 변수명 </th>
                        <th scope="col">타입</th>
                        <th scope="col">필수 여부</th>
                        <th scope="col">기본값</th>
                        <th scope="col">설명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h4>2-2. 데이터 조회</h5>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">요청 변수명 </th>
                            <th scope="col">타입</th>
                            <th scope="col">필수 여부</th>
                            <th scope="col">기본값</th>
                            <th scope="col">설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>from</td>
                            <td>int</td>
                            <td>Y</td>
                            <td>-</td>
                            <td>조회할 데이터 시작 인덱스</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td>int</td>
                            <td>Y</td>
                            <td>-</td>
                            <td>조회할 데이터 개수</td>
                        </tr>
                    </tbody>
                </table>
                </br>
                <h4>2-3. 기간별 데이터 조회</h5>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">요청 변수명 </th>
                                <th scope="col">타입</th>
                                <th scope="col">필수 여부</th>
                                <th scope="col">기본값</th>
                                <th scope="col">설명</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>start_date</td>
                                <td>int</td>
                                <td>Y</td>
                                <td>-</td>
                                <td>조회할 날짜</td>
                            </tr>
                            <tr>
                                <td>end_date</td>
                                <td>int</td>
                                <td>Y</td>
                                <td>-</td>
                                <td>조회할 날짜</td>
                            </tr>
                        </tbody>
                    </table>
    </div>
</body>
