<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /*
        table {
            border: none;
            border-spacing: 0;
            text-align: center;
            width: 700px;

        }

        thead {
            background: #f0f0f0;
            border: none;
            border-spacing: 0;
        }

        td,
        tr {
            border: none;
            border-spacing: 0;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        thead>tr {
            height: 50px;
        }*/
    </style>

</head>

<body>
    <h1>서비스 준비중</h1>
    <div>
        <img src="./images/ask.png" alt="My Image">
    </div>
</body>
